.catalogo {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 180px;
    flex-wrap: wrap;
}

.paneles {   
    flex: 25%;
    max-width: 25%;
}

.panel {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.imagenes {
    border-radius: 10px;
}

.precio {
    text-decoration: underline;
    text-decoration-color: rgb(175, 175, 175);
}

.cuerpo{
    text-align: center;
}

@media (max-width: 990px) {
    .paneles {   
        flex: 33.3%;
        max-width: 33.3%;
    }
}

@media (max-width: 900px) {
    .paneles {   
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .paneles {   
        flex: 100%;
        max-width: 100%;
    }

    .catalogo {
        margin-left: 20px;
        margin-right: 20px;
    }
}